name: ci

on:
  pull_request:
    branches: [master, staging, production]
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  id-token: write

env:
  TSAR_FERRIS_GITHUB_TOKEN: ${{ secrets.TSAR_FERRIS_GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}

concurrency:
  group: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production') && 'release' || github.ref }}
  cancel-in-progress: ${{ !(github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production') }}

jobs:
  golang-checks:
    uses: elastio/gh-actions/.github/workflows/golang-checks.yml@main

  check-image-version:
    name: Check image version
    if: github.base_ref == 'master' || github.ref == 'refs/heads/master'
    runs-on: bluestack
    permissions:
      contents: read
      pull-requests: read
      id-token: write
    outputs:
      has_source_changes: ${{ steps.changed.outputs.verdict }}
    steps:
      - uses: actions/checkout@v4

      - name: Read semantic version
        uses: mikefarah/yq@v4.48.1
        with:
          cmd: echo VERSION=$(yq '.release' .semver.yaml) >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: elastio/actions/aws-creds@v1
        with:
          role_to_assume: arn:aws:iam::648105227319:role/GitHub-OIDC-SharedServices-ECR-RO
          region: us-east-2
          role_duration_seconds: 3600

      - name: Check source changes
        uses: dorny/paths-filter@v3
        id: changed
        with:
          filters: |
            verdict: [config/**, internal/**, logger/**, scripts/**, main.go, go.mod, go.sum, .semver.yaml, Dockerfile]

      - name: Check whether image version already exists
        if: steps.changed.outputs.verdict == 'true'
        run: |
          if aws ecr describe-images \
            --repository-name development/blues/shared-services/service \
            --image-ids imageTag=${{ env.VERSION }} \
            --region us-east-2; then
            echo "Image with tag ${{ env.VERSION }} already exists. Please update version in .semver.yaml."
            exit 1
          fi

  build-image:
    name: Build shared-services image
    if: needs.check-image-version.outputs.has_source_changes != 'false'
    needs: [golang-checks, check-image-version]
    runs-on: bluestack
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: elastio/actions/aws-creds@v1
        with:
          role_to_assume: >-
            ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production')
            && 'arn:aws:iam::648105227319:role/GitHub-OIDC-SharedServices-ECR-RW'
            || 'arn:aws:iam::648105227319:role/GitHub-OIDC-SharedServices-ECR-RO' }}
          region: us-east-2
          role_duration_seconds: 3600

      - id: login-ecr
        name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: true
          skip-logout: true
          registry-type: private

      - name: Read semantic version
        uses: mikefarah/yq@v4.48.1
        with:
          cmd: echo VERSION=$(yq '.release' .semver.yaml) >> $GITHUB_ENV

      - uses: docker/build-push-action@v6
        with:
          pull: true
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/development/blues/shared-services/service:latest
            ${{ steps.login-ecr.outputs.registry }}/development/blues/shared-services/service:${{ env.VERSION }}
            ${{ steps.login-ecr.outputs.registry }}/development/blues/shared-services/service:${{ github.sha }}
          labels: |
            org.opencontainers.image.version=${{ env.VERSION }}
            org.opencontainers.image.ref.name=${{ github.ref_name }}
            org.opencontainers.image.ref.sha=${{ github.sha }}
          secrets: DEPS_TOKEN=${{ secrets.TSAR_FERRIS_GITHUB_TOKEN }}
          build-args: VERSION=${{ github.sha }}

  generate-sbom:
    name: Generate SBOM
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production'
    needs: [golang-checks, check-image-version]
    runs-on: bluestack
    steps:
      - uses: actions/checkout@v4

      - uses: elastio/actions/install@v1
        with:
          tool: trivy

      - name: Generate SBOM
        run: trivy repo go.mod --format cyclonedx --output result.cdx.json

      - uses: DependencyTrack/gh-upload-sbom@v3
        with:
          serverHostname: deps-track.elastio.dev
          apiKey: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          autoCreate: "true"
          bomFilename: result.cdx.json
          projectName: blue-stack-shared-services
          projectVersion: ${{ github.ref_name }}
          projectTags: blue-stack,golang

  deploy-to-k8s:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production'
    needs: [build-image]
    uses: elastio/gh-actions/.github/workflows/deploy-to-k8s.yml@main
    with:
      service-name: shared-services
    secrets:
      CLOUDSMITH_HELM_REPO_USERNAME: ${{ secrets.CLOUDSMITH_HELM_REPO_USERNAME }}
      CLOUDSMITH_HELM_REPO_PASSWORD: ${{ secrets.CLOUDSMITH_HELM_REPO_PASSWORD }}
      CI_BLUE_STACK_STAGING_AWS_ROLE_ARN: ${{ secrets.CI_BLUE_STACK_STAGING_AWS_ROLE_ARN }}
      CI_BLUE_STACK_PRODUCTION_AWS_ROLE_ARN: ${{ secrets.CI_BLUE_STACK_PRODUCTION_AWS_ROLE_ARN }}
