name: release-hotfix

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  TSAR_FERRIS_GITHUB_TOKEN: ${{ secrets.TSAR_FERRIS_GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}

concurrency:
  group: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production') && 'release' || github.ref }}
  cancel-in-progress: ${{ !(github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production') }}

jobs:
  golang-checks:
    uses: elastio/gh-actions/.github/workflows/golang-checks.yml@main

  build-image:
    name: Build shared-services image
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production'
    needs: [golang-checks]
    runs-on: bluestack
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: elastio/actions/aws-creds@v1
        with:
          role_to_assume: arn:aws:iam::648105227319:role/GitHub-OIDC-SharedServices-ECR-RW
          region: us-east-2
          role_duration_seconds: 3600

      - id: login-ecr
        name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.BS_RESOURCES_AWS_ACCOUNT_ID }}
          mask-password: "true"
          skip-logout: "true"

      - name: Configure environment
        uses: elastio/gh-actions/actions/configure-env@main

      - name: Configure registry environment
        run: |
          set -eu
          echo "REPOSITORY=${ENVIRONMENT}/blues/shared-services/service" >> "$GITHUB_ENV"
          echo "REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> "$GITHUB_ENV"

      - uses: docker/build-push-action@v6
        with:
          pull: true
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:latest
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:${{ github.sha }}
          labels: |
            github.sha=${{ github.sha }}
            github.ref=${{ github.ref }}
          secrets: DEPS_TOKEN=${{ secrets.TSAR_FERRIS_GITHUB_TOKEN }}
          build-args: VERSION=${{ github.sha }}

  deploy-to-k8s:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/production'
    needs: [build-image]
    uses: elastio/gh-actions/.github/workflows/deploy-to-k8s.yml@main
    with:
      service-name: shared-services
    secrets:
      CLOUDSMITH_HELM_REPO_USERNAME: ${{ secrets.CLOUDSMITH_HELM_REPO_USERNAME }}
      CLOUDSMITH_HELM_REPO_PASSWORD: ${{ secrets.CLOUDSMITH_HELM_REPO_PASSWORD }}
      CI_BLUE_STACK_STAGING_AWS_ROLE_ARN: ${{ secrets.CI_BLUE_STACK_STAGING_AWS_ROLE_ARN }}
      CI_BLUE_STACK_PRODUCTION_AWS_ROLE_ARN: ${{ secrets.CI_BLUE_STACK_PRODUCTION_AWS_ROLE_ARN }}
